:root {
  --primary: #f1f7ed;
  --secondary: #243e36;
  --third: #c2a83e;
  --fourth: #7ca982;
}
button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
body {
  text-align: center;
}
h2 {
  text-align: center;
}

@font-face {
  font-family: "ObelixPro";
  src: local("ObelixPro"), url("./fonts/obelixpro-cyr.ttf") format("truetype");
  font-weight: bold;
}
