:root {
  --primary: rgb(241, 247, 237);
  --secondary: #243e36;
  --third: #c2a83e;
  --fourth: #7ca982;
}
button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
body {
  text-align: center;
  background-color: #b9cfd4;
}
h2 {
  text-align: center;
}

@font-face {
  font-family: "ObelixPro";
  src: local("ObelixPro"), url("./fonts/obelixpro-cyr.ttf") format("truetype");
  font-weight: bold;
}
/* #243e36 */
