:root {
  --primary: #f3dfc1;
  --secondary: #c1666b;
  --third: #368f8b;
}
button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
body {
  text-align: center;
  background-color: var(--primary);
}
h2 {
  text-align: center;
}
